<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet"href="{% static 'stylesheets/bt523/css/bootstrap.css' %}">
    <script src="{% static 'stylesheets/bt523/js/bootstrap.bundle.js'  %}"></script>
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div class="row bg-secondary">
            <div class="col-lg-12">
            {% include 'header.html' %}
        </div>
      </div>
        <div class="row">
            <div class="col-lg-12 bg-white">
                {% block content %}

                {% endblock %}

    </div>
      </div>
        </div>
</body>
</html>