{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
    <br>

    <div class="row text">
        <div class="col-lg-3">
            <img src="{% static 'images/44.jpg' %}" width="320px" height="200"
                 class="img-thumbnail">
        </div>

        <div class="col-lg-9">
            <h2>บุคคลต้นแบบ</h2>
            <div class="mt-1 p-4 text-white rounded" style="background-color: #51C2D5">
                <h5><b>ครอบครัวของฉัน </b></h5>
                <p class="alert alert-info"><b>1. จงเรียนรู้อยู่เสมอ</b> พ่อแม่สามารถเป็นแบบอย่างในการค้นคว้าหาความรู้ บางครั้งอาจเป็นการค้นคว้าด้วยกันกับลูก
                    การเรียนรู้สิ่งใหม่ๆ เปิดใจเรียนรู้กับสิ่งที่เกิดขึ้นตรงหน้า จงอย่าหยุดที่จะตั้งคำถาม เพื่อนำไปสู่คำตอบที่จะฝึกฝนตัวเอง ทำความเข้าใจและลงมือทำ
                    เสริมสร้างประสบการณ์ให้กับตัวเองในทุกวัน
                    <br><b>2. สร้างวินัยและความรับผิดชอบ</b> การสร้างวินัยและฝึกระเบียบให้กับลูก เป็นสิ่งที่พ่อแม่สามารถเริ่มต้นได้ตั้งแต่ลูกยังเล็ก
                    ซึ่งลูกสามารถเรียนรู้ตัวอย่างที่ดีได้จากพ่อแม่ พ่อแม่ควรสร้างกฎระเบียบภายในบ้านและแบ่งหน้าที่ ที่ต้องรับผิดชอบในแต่ละวันให้กับลูก
                    จะช่วยให้ลูกเติบโตเป็นคนที่มีความรับผิดชอบ มีระเบียบวินัยในการใช้ชีวิต โดยพ่อแม่ต้องทำให้เห็นเป็นต้นแบบก่อน</p><br>
            </div>

            <div class="mt-3 p-4 text-white rounded" style="background-color: #FD464A">
                <p class="alert alert-warning"><b>3. มีความมุ่งมั่นพยายาม</b> การที่พ่อแม่แสดงออกถึงความมุ่งมั่น ทุ่มเท ตั้งใจ จะทำอะไรก็ตาม
                    และมีความพยายามทำจนสำเร็จ ถึงแม้บางครั้งจะพบกับปัญหาอุปสรรคขวากหนามต่างๆ ก็ไม่ยอมแพ้ ยังคงมีความมานะ อดทน เข้มแข็ง
                    ไม่ย่อท้อ สามารถฟันฝ่าปัญหาอุปสรรคต่างๆ ไปได้ พร้อมทั้งยินดีกับความสำเร็จนั้น
                    <br><b>4. เป็นต้นแบบทางคุณธรรม</b> การแสดงให้ลูกเห็นว่า พ่อแม่มีเมตตาต่อเพื่อนมนุษย์ การเป็นคนที่สุภาพ รู้จักแบ่งปัน มีน้ำใจต่อผู้อื่น มีความกตัญญู
                    ซื่อสัตย์สุจริต การรับฟัง เคารพความคิดเห็นซึ่งกันและกัน การทำดีต่อสังคม และกล้าตัดสินใจ ในบางสถานการณ์พ่อแม่สามารถเป็นแบบอย่างที่ดีในการตัดสินใจ </p><br>

            </div>
        </div>
    </div>

{% endblock %}