{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
{% block content %}
     <div class="mt-2 p-3 bg-info text-white rounded text-center">
        <h1>--Welcome to Shop Coat-- </h1>
    </div>
   <div class="row text">
        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp
            <div class="card" style="width:300px">
              <img class="card-img-top" src="{% static 'images/co1.jpg' %}" alt="Card image">
              <div class="card-body">
                <h3 class="card-title text-dark">CO0116 BASIC COAT รุ่นกระดุมมุก ฿2,390.00</h3>
                <p class="card-text"></p>
                <a href="#" class="btn btn-success">สั่งซื้อ</a>
              </div>
            </div>
        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp
            <div class="card" style="width:300px">
              <img class="card-img-top" src="{% static 'images/co2.jpg' %}" alt="Card image">
              <div class="card-body">
                <h3 class="card-title text-dark">CO0121 เดรสไหมพรมลายเปีย ฿1,390.00 </h3>
                <p class="card-text"></p>
                <a href="#" class="btn btn-success">สั่งซื้อ</a>
              </div>
            </div>
        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp
            <div class="card" style="width:300px">
              <img class="card-img-top" src="{% static 'images/co3.jpg' %}" alt="Card image">
              <div class="card-body">
                <h3 class="card-title text-dark">CO0018 JACKET TWEED & COLLAR FUR ฿2,490.00.00</h3>
                <p class="card-text"></p>
                <a href="#" class="btn btn-success">สั่งซื้อ</a>
              </div>
            </div>
        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp

            <div class="card" style="width:300px">
              <img class="card-img-top" src="{% static 'images/co4.jpg' %}" alt="Card image">
              <div class="card-body">
                <h3 class="card-title text-dark">CO0179 FUR WITH HOOD ฿2,690.00</h3>
                <p class="card-text"></p>
                <a href="#" class="btn btn-success">สั่งซื้อ</a>
              </div>
            </div>
        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp
            <div class="card" style="width:300px">
              <img class="card-img-top" src="{% static 'images/co5.jpg' %}" alt="Card image">
              <div class="card-body">
                <h3 class="card-title text-dark">CO0018 JACKET TWEED & COLLAR FUR ฿2,490.00</h3>
                <p class="card-text"></p>
                <a href="#" class="btn btn-success">สั่งซื้อ</a>
              </div>
            </div>
        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp
            <div class="card" style="width:300px">
              <img class="card-img-top" src="{% static 'images/co6.jpg' %}" alt="Card image">
              <div class="card-body">
                <h3 class="card-title text-dark">CO0061 SWEATER FLEECE STYLE ฿1,890.00</h3>
                <p class="card-text"></p>
                <a href="#" class="btn btn-success">สั่งซื้อ</a>
              </div>
            </div>
   </div>
    </body>
    </html>
{% endblock %}